/* Basic Css  */
* {
    margin: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  img {
    vertical-align: bottom;
  }
  :disabled {
    cursor: not-allowed;
  }
  button {
    cursor: pointer;
    padding: 0;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  abbr[title] {
    text-decoration: underline dotted;
    -webkit-text-decoration: underline dotted;
  }
  
  html {
    font-size: 15px;
    scroll-behavior: smooth;
  }
  body {
    font: 16px/1.2 "Montserrat", sans-serif;
  }
  .thin {
    font-weight: 100;
  }
  
  .container {
    max-width: 1600px;
    margin: auto;
    padding: 0 1rem;
  }
  .row {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -1rem;
  }
  [class^="col-"] {
    flex: 1 0 auto;
    padding: 0 1rem;
  }
  .col-1 {
    flex-basis: 8.33%;
    max-width: 8.33%;
  }
  .col-2 {
    flex-basis: 16.66%;
    max-width: 16.66%;
  }
  .col-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-4 {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
  .col-5 {
    flex-basis: 41.66%;
    max-width: 41.66%;
  }
  .col-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-7 {
    flex-basis: 58.33%;
    max-width: 58.33%;
  }
  .col-8 {
    flex-basis: 66.66%;
    max-width: 66.66%;
  }
  .col-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-10 {
    flex-basis: 83.33%;
    max-width: 83.33%;
  }
  .col-11 {
    flex-basis: 91.66%;
    max-width: 91.66%;
  }
  .col-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .flex {
    display: flex;
  }
  .justify-right {
    justify-content: right;
  }
  .align-center {
    align-items: center;
  }
  .purple{
    color: #6610f2 !important;
  }


  /* Login Page Styling  */
  .login_page{
    background: linear-gradient(to bottom, #42275a, #734b6d);
    text-align: center;
    height: 100vh;
  }
  .login_box{
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 50px;
    width: 80%;
    height: 80vh;
    background: #412b7b;
    border-radius: 20px;
    border: none;
  }
  .login_box input {
    padding: 20px;
    border: none;
    border-bottom: 2px solid rgb(231, 231, 231);
    width: 100%;
    text-align: left;
    margin: 20px 0px;
    background: transparent;
    font-size: 20px;
    color: white;
}
.login_box input:focus{
    outline: none;
    border-bottom: 2px solid black;
}
.login_box .flex{
    justify-content: space-between;
}
.login_box h1{
    color: antiquewhite;
    font-weight: 800;
}
.login_box p{
    font-size: 10px;
    color: wheat;
    margin-bottom: 40px;
}
.login_box h2{
    color: white;
}
.login_box .flex p{
    font-size: 15px;
    margin: 20px 0px;
}
.login_box .flex .rememberme{
    display: flex;
    align-items: center;
    justify-content: center;
    color: wheat;
    padding: 0px;
    font-size: 15px;
}
.btn{
    padding: 15px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(to bottom, #614385, #614385);
    color: white;
    text-align: center;
}
.btn i{
    margin: 0px 10px;
}

/* responsive  */
@media screen and (max-width: 460px){
    .login_box input{
        font-size: 12px;
    }
    .login_box .flex p{
        font-size: 10px;
    }
}






/* ===============================================dashboard styling============================================================= */
/* sidebar styling  */

.sidebar{
    background: #8ed1fc;
    padding: 10px;
    color: #54595F;
    height: fit-content;
}
.sidebar .logo{
    margin-bottom: 20px;
}
.sidebar .sidebaritems{
    margin-bottom: 30px;
}
.sidebar .sidebaritems h3{
    margin-bottom: 20px;
}
.sidebar .sidebaritems p{
    color: #0693e3;
}
.sidebar .sidebaritems i{
    margin-right: 20px;
}
.sidebar .sidebaritems .arrow{
    float: right;
}


/* maindashboard */
.maindash{
background: rgb(151,120,209) 20%;
}
.maindashboard{
    padding: 20px 0px;
    color: black;
}
.maindashboard i{
    font-size: 20px;
}
.maindashboard .btnd{
    padding: 15px;
    background: white;
    border: none;
    border-radius: 12px;
    width: 100%;
    font-size: 10px;
    text-align: center;
    color: black;
    font-weight: 600;
}
.maindashboard .col-1, .col-2{
    line-height: 50px;
}
.maindashboard h2{
    margin: 40px 0px;
}
.admin_box{
    width: 100%;
    background: white;
    border-radius: 12px;
    padding: 20px;
}
.admin_box h3{
    font-size: 40px;
    margin-bottom: 20px;
}
.admin_box p{
    font-size: 30px;
    color: #54595F;
    margin-bottom: 20px;
}
.maindashboard .flex{
    justify-content: space-between;
    align-items: center;
}
.maindashboard .flex a{
    width: 100px;
    padding: 10px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 15px;
    background: #6610f2;
    color: white;
}
.maindashboard .notice_box{
    padding: 60px 20px;
}
.maindashboard .notice_box .flex{
    border-bottom: 2px solid purple;
    border-width: 100%;
}
